%section.content
  .main
    %table
      %caption
        Nominations for
        = link_to @nominee.github_username, @nominee.url
      %thead
        %tr
          %th(scope="col") Testimony
          %th(scope="col") Nominator
      %tbody
        - @nominee.nominations.each do |nomination|
          %tr
            %td.testimony= nomination.testimonial
            %td.nominator= link_to "#{nomination.nominator} (#{nomination.nominator.email})", admin_nominator_path(nomination.nominator.id)

    %p= link_to "Back to nominees", admin_nominees_path
