- content_for :subheader, "Edit user"
.model-summary
  = link_to_list users_path
  = link_to_delete @user, "Delete this user", :confirm => "Delete user '#{@user.name}'?", :class => "button"
.model-details.box
  %h1
    = image_tag @user.mugshot.public_filename
    = @user.name
  = error_messages_for :user
  = error_messages_for :mugshot, :object => @user.mugshot
  - form_for(@user, :html => { :multipart => true }) do |form|
    = render :partial => "users/shared/form", :object => form
    .buttons.wrapper
      = button_to_save "Save User"
      = link_to_cancel users_path