%section.content
  %header
    = render "shared/logo"

    - if $voting_enabled
      = form_tag new_nomination_path, method: :get, autocomplete: 'off', class: 'nominate grid' do
        .grid-box.one-whole.desk-one-half
          = label_tag 'nominee', "I'd like to nominate", class: 'nominate-label'
        .grid-box.one-whole.desk-one-half
          .nominate-form
            = text_field_tag 'nominee', nil, autocomplete: 'off', class: 'nominate-input', placeholder: 'GitHub Username'
            #yes_match.nominate-autocomplete
            %button#nomination_submit.nominate-submit Next
            .nominate-hero{ :"aria-hidden" => "true" }
    - else
      - if $heroes_chosen
        .heroes-chosen
          %h2 The #{@this_year} Ruby Heroes have been <a href="#heroes" class="heroes-toggle">named</a>.
      - else
        .voting-disabled
          %h2 The #{@this_year} Ruby Heroes will be revealed at the upcoming <a href="http://railsconf.com/">RailsConf</a>.

  .main.grid
    .grid-box.one-whole.desk-one-half
      %h3
        The Ruby Hero Awards recognize #{link_to("everyday heroes", "#", class: "heroes-toggle")} of the Ruby community.

      %p
        We believe good work deserves recognition. The Ruby community
        is full of unsung heroes who are helping in diverse ways make the community a better place.

      %p
        Each year, Ruby Hero nominees are picked among the popular vote by Heroes from
        previous years. These new heroes are given an award at RailsConf.

      %p
        Beyond that, they're recognized for the work they've done. Hopefully, they
        will inspire others to contribute back to our community.

    .grid-box.one-whole.desk-one-half

      %h3 Make your own heroes
      = image_tag 'img-instructions.svg', alt: 'Instructions'

      %ol
        %li Nominate a worthy candidate
        %li Pass the word around
        %li Nominee are tallied
        %li #{link_to("Past Ruby Heroes", "#heroes", class: "heroes-toggle")} pick finalists
        %li Heroes are named at #{link_to("RailsConf", "http://railsconf.com")}

      = render partial: "shared/share_buttons"

  = render "shared/footer"

= render "shared/heroes_archive"
