-# remove comment to toggle display of past heroes 
  %section#pastheroes
    .year
      %h3 Congratulations to the 2011 Ruby Heroes!
      %ul
        = render @heroes

- # comment out section#vote to close voting round
%section#vote
  = form_tag new_nomination_path, :method => :get, :autocomplete => 'off' do
    %div.field
      = label_tag 'nominee', 'What is the Github username of the person you want to nominate?'
      = text_field_tag 'nominee', nil, :size =>  24
    #yes_match
    %button#nomination_submit Nominate

%section#about
  :markdown
    ### What is this about? ###

     There are many people in the Ruby/Rails world who contribute to our
     community and rarely receive any recognition or payment for their work.
     
     They create educational content, develop plugins & gems, contribute to
     open source projects, and even put on events which help educate and make
     our lives as developers easier.
     
     Ruby Heroes was created to show some gratitude and give these people the
     recognition they deserve. Hopefully the type of recognition that keeps
     them doing what they’re doing, and continuing to make our community
     stronger.
     
     Based on the nominations you give here, #{link_to "the previous Ruby
     Heroes", heroes_path} will pick 6 people who will receive a Ruby Hero
     Award at [RailsConf](http://en.oreilly.com/rails2011/) this year.

%aside
  %section#reasons
    :markdown
      ### Reasons to nominate someone ###
      + educational content &amp; tutorials
      + open source project contribution
      + help organizing educational events
      + free support on mailing lists / IRC
      + well deserved recognition
%section#spread
  :markdown
    ### Spread the word ###
    
    Pay it forward and [talk about us on Twitter](http://twitter.com/intent/tweet?text=Who%20is%20your%20Ruby%20Hero?%20-%20&url=http://www.rubyheroes.com/ "Click to share this post on Twitter") or post a blog badge to your website to encourage others to show their gratitude.
    ![Ruby Hero Banner](/images/banner_small.png)

%section#sponsor
  :markdown
    ### Sponsor ###
     ![O’Reilly](/images/oreilly.png)
     The Ruby Hero Awards are graciously sponsored this year by
     [O’Reilly](http://www.oreilly.com/ "O’Reilly").  O’Reilly spreads the
     knowledge of innovators through technology books, online services, and
     tech conferences (including RailsConf).
     [RailsConf](http://en.oreilly.com/rails2011 "RailsConf 2011") is taking
     place this year May 16-19 in Baltimore, Maryland, where the winners of the
     Ruby Hero Awards will be announced live on stage. [Registrations are now
     open](http://en.oreilly.com/rails2011 "RailsConf 2011") if you’d like to
     attend.
    
