%section.content
  %header
    .header-ruby{:'aria-hidden' => 'true'}
    %h1= image_tag 'logo-rubyheroes.svg', alt: 'Ruby Heroes'

    - if voting_enabled?
      = form_tag new_nomination_path, method: :get, autocomplete: 'off', class: 'nominate grid' do
        .grid-box.one-whole.desk-one-half
          = label_tag 'nominee', "I'd like to nominate", class: 'nominate-label'
        .grid-box.one-whole.desk-one-half
          .nominate-form
            = text_field_tag 'nominee', nil, autocomplete: 'off', class: 'nominate-input', placeholder: 'GitHub Username'
            #yes_match.nominate-autocomplete
            %button#nomination_submit.nominate-submit Next
            .nominate-hero{:'aria-hidden' => 'true'}
    - else
      - if heroes_chosen?
        .heroes-chosen
          %h2 The #{@this_year} Ruby Heroes have been <a href="#heroes" class="heroes-toggle">named</a>.
      - else
        .voting-disabled
          %h2 The #{@this_year} Ruby Heroes will be revealed at the upcoming <a href="http://railsconf.com/">RailsConf</a>.


  .header-glow--a{:'aria-hidden' => 'true'}
  .header-glow--b{:'aria-hidden' => 'true'}

  .main.grid
    .grid-box.one-whole.desk-one-half
      %h3 The <a href="#" class="heroes-toggle">Ruby Hero Award</a> gives recognition to influential devs in the Ruby/Rails community and announces the winners at&nbsp;<a href="http://railsconf.com">RailsConf</a>.
      %p We believe great work deserves recognition. The Ruby/Rails dev community is full of amazing contributors and unsung heroes who are busy producing educational content, developing plugins and gems, contributing to open-source projects, or putting on events to help developers learn and grow. Wherever they are, their work is too great to go unnoticed and we need your help to find&nbsp;them.
      .main-share
        = link_to "Tweet", "https://twitter.com/share", class: "twitter-share-button", data: { url: "http://rubyheroes.com", text: "The unsung heroes of the Ruby community deserve recognition.", size: "small" }
        :javascript
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
        #fb-root
          :javascript
            (function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=143753272357200";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        .fb-like{ data: { href: "http://rubyheroes.com", send: false, layout: "button_count", width: "50", "show-faces" => "false", action: "like", font: "lucida grande" } }

    .grid-box.one-whole.desk-one-half
      %p Submit your vote for the Ruby Hero Award above. Six will be chosen and pulled out from behind their code to receive an award at&nbsp;RailsConf.
      = image_tag 'img-instructions.svg', alt: 'Instructions'
      %ol
        %li Nominate a worthy candidate
        %li Share link to get others voting
        %li Nominees get tallied
        %li <a href="#heroes" class="heroes-toggle">Previous Ruby Heroes</a> choose finalists
        %li Winners announced at <a href="http://railsconf.com">RailsConf</a>

  %footer
    = image_tag 'img-mask.svg', class: 'footer-mask', alt: 'Mask', :"aria-hidden" => 'true'

    .sponsor.grid
      .grid-box.one-whole.desk-one-half
        %p Ruby Heroes is sponsored by <a href="http://codeschool.com">Code School</a>, which teaches web technologies in the comfort of your browser with video lessons, coding challenges, and screencasts. Try it out now with a free level of <a href="http://codeschool.com/courses/surviving-apis-with-rails">Surviving APIs with Rails</a>.
      .grid-box.one-whole.desk-one-half
        = link_to image_tag('logo-codeschool.svg', alt: 'Code School'), 'http://codeschool.com', class: 'sponsor-logo'

    %ul.footer-credits
      %li
        %h4 Development
        = link_to 'Code School', 'https://www.codeschool.com'
      %li
        %h4 Hosting
        = link_to 'Heroku', 'https://www.heroku.com/'

%section.heroes
  .heroes-inner
    = link_to '#', class: 'heroes-close', title: 'Close' do
      &lsaquo;



    %ol.heroes-nav
      - @years.each_with_index do |heroes, index|
        - selected = (heroes.first == selected_year) ? 'is-selected' : ''
        %li{ class: selected }= link_to heroes.first, '#'

    - @years.each_with_index do |heroes, index|
      - selected = (heroes.first == selected_year) ? 'is-selected' : ''
      %ul.heroes-collection.grid{ class: selected }
        = render partial: "hero", collection: heroes.last
