-# remove comment to toggle display of past heroes 
  %section#pastheroes
    .year
      %h3 Congratulations to the 2011 Ruby Heroes!
      %ul
        = render @heroes

- # comment out section#vote to close voting round
%section#vote
  = form_tag new_nomination_path, :method => :get, :autocomplete => 'off' do
    %div.field
      = label_tag 'nominee', 'What is the Github username of the person you want to nominate?'
      = text_field_tag 'nominee', nil, :size =>  24, :autocomplete => "off"
    #yes_match
    %button#nomination_submit Nominate

%section#about
  :markdown
    ### What is this about? ###

     There are many people in the Ruby/Rails world who contribute to our
     community and rarely receive any recognition or payment for their work.
     
     They create educational content, develop plugins & gems, contribute to
     open source projects, and even put on events which help educate and make
     our lives as developers easier.
     
     Ruby Heroes was created to show some gratitude and give these people the
     recognition they deserve. Hopefully the type of recognition that keeps
     them doing what they’re doing, and continuing to make our community
     stronger.
     
     Based on the nominations you give here, #{link_to "the previous Ruby
     Heroes", heroes_path} will pick 6 people who will receive a Ruby Hero
     Award at [RailsConf](http://en.oreilly.com/rails2011/) this year.

%aside
  %section#reasons
    :markdown
      ### Why to nominate a Ruby Hero?
      + educational content &amp; tutorials
      + open source project contribution
      + help organizing educational events
      + free support on mailing lists / IRC
      + well deserved recognition
%section#spread
  %h3 Spread the word
  %p Help us rally some well deserved love for Ruby Heroes by letting your friends know that you cast your vote on Twitter and Facebook.
  = link_to "Tweet", "https://twitter.com/share", :class => "twitter-share-button", 'data-url' => "http://rubyheroes.com", 'data-text' => "The Ruby Heroes among us deserve recognition from the community.", 'data-size' => "large"
  :javascript
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

  #fb-root
    :javascript
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=143753272357200";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

  .fb-like{ "data-href" => "http://rubyheroes.com", "data-send" => "false", "data-layout" => "button_count", "data-width" => "50", "data-show-faces" => "true", "data-action" => "recommend", "data-font" => "lucida grande" }

%section#sponsor
  :markdown
    ### Sponsor
    [![Code School](/images/code_school.png)](http://www.codeschool.com/enrollments/UVZOU2VsUVg3WlRXR2tRYTh0Vm5vU25pZDFKYmF2UVk5bEg0RFlhMGdQcz0tLS96RHZMT3lQTG4rcjViR3lHRlRZakE9PQ==)
    Code School is an online platform that allows you to learn by doing through video lessons and interactive coding challenges. [Try the first level of our CoffeeScript course for free](http://coffeescript.codeschool.com).