%section.content
  %header
    .header-ruby{:'aria-hidden' => 'true'}
    %h1= image_tag 'logo-rubyheroes.svg', alt: 'Ruby Heroes'

    = form_tag new_nomination_path, method: :get, autocomplete: 'off', class: 'nominate grid' do
      .grid-box.one-whole.desk-one-half
        = label_tag 'nominee', "I'd like to nominate", class: 'nominate-label'
      .grid-box.one-whole.desk-one-half
        .nominate-form
          = text_field_tag 'nominee', nil, autocomplete: 'off', class: 'nominate-input', placeholder: 'GitHub Username'
          #yes_match
          %button#nomination_submit.nominate-submit Next
          .nominate-hero{:'aria-hidden' => 'true'}

  .header-glow--a{:'aria-hidden' => 'true'}
  .header-glow--b{:'aria-hidden' => 'true'}

  .main.grid
    .grid-box.one-whole.desk-one-half
      %h3 The <a href="#" class="heroes-toggle">Ruby Hero Award</a> gives recognition to influential devs in the Ruby/Rails community and announces the winners at&nbsp;<a href="http://railsconf.com">RailsConf</a>.
      %p We believe great work deserves recognition. The Ruby/Rails dev community is full of amazing contributors and unsung heroes who are busy producing educational content, developing plugins and gems, contributing to open-source projects, or putting on events to help developers learn and grow. Wherever they are, their work is too great to go unnoticed and we need your help to find&nbsp;them.
    .grid-box.one-whole.desk-one-half
      %p Submit your vote for the Ruby Hero Award above. Six will be chosen and pulled out from behind their code to receive an award at&nbsp;RailsConf.
      = image_tag 'img-instructions.svg', alt: 'Instructions'
      %ol
        %li Nominate a worthy candidate
        %li Share link to get others voting
        %li Nominees get tallied
        %li <a href="#" class="heroes-toggle">Previous Ruby Heroes</a> choose finalists
        %li Winners announced at <a href="http://railsconf.com">RailsConf</a>

  %footer
    = image_tag 'img-mask.svg', class: 'footer-mask', alt: 'Mask', :"aria-hidden" => 'true'

    .sponsor.grid
      .grid-box.one-whole.desk-one-half
        %p Ruby Heroes is sponsored by <a href="http://codeschool.com">Code School</a>, which teaches web technologies in the comfort of your browser with video lessons, coding challenges, and screencasts. Try it out now with a free level of <a href="http://codeschool.com/courses/ruby-bits">Ruby&nbsp;Bits</a>.
      .grid-box.one-whole.desk-one-half
        = link_to image_tag('logo-codeschool.svg', alt: 'Code School'), 'http://codeschool.com', class: 'sponsor-logo'

    %ul.footer-credits
      %li
        %h4 Development
        = link_to 'Envy Labs', 'http://envylabs.com'
      %li
        %h4 Hosting
        = link_to 'Heroku', 'http://heroku.com'

%section.heroes
  .heroes-inner
    %h2 Past Heroes

    %h3 2012
    %ul.grid= render partial: "hero", collection: @heroes

    - %w( 2011 2010 2009 2008 ).each do |year|
      %h3 #{year}
      %ul.grid= render partial: "hero", collection: @past_heroes.find_all {|i| i.year == year}






-#%section#pastheroes

  %section#spread
    %h3 Spread the word
    %p Help us rally some well deserved love for Ruby Heroes by letting your friends know that you cast your vote on Twitter and Facebook.
    = link_to "Tweet", "https://twitter.com/share", :class => "twitter-share-button", 'data-url' => "http://rubyheroes.com", 'data-text' => "The Ruby Heroes among us deserve recognition from the community.", 'data-size' => "large"
    :javascript
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

    #fb-root
      :javascript
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=143753272357200";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

    .fb-like{ "data-href" => "http://rubyheroes.com", "data-send" => "false", "data-layout" => "button_count", "data-width" => "50", "data-show-faces" => "true", "data-action" => "recommend", "data-font" => "lucida grande" }
