- content_for :subheader, "Edit nomination"
.model-summary
  = link_to_list nominations_path
  = link_to_delete @nomination, "Delete this nomination", :confirm => "Delete nomination for '#{@nomination.nominee}'?", :class => "button"
.model-details.box
  %h1
    = @nomination.nominee
  = error_messages_for :nomination
  - form_for(@nomination) do |form|
    = render :partial => "nominations/shared/form", :object => form
    .buttons.wrapper
      = button_to_save "Save Nomination"
      = link_to_cancel nominations_path