%section.content
  %header
    = render "shared/logo"

  .main.grid
    .grid-box.one-whole
      .nomination
        = simple_form_for @nomination, html: { novalidate: true } do |f|
          %h1 Nomination
          = f.error :voting

          = f.fields_for :nominee do |n|
            = n.input :github_username, label: "Nominee's GitHub Username"

          = f.error :nominator_id

          = f.fields_for :nominator do |n|
            = n.input :name, label: "Your Name"
            = n.input :email, label: "Your Email"

          = f.input :testimonial, label: "Why is this person your Ruby Hero?"

          = f.button :submit, "Nominate", data: { disable_with: "Nominating..." }
