%section.content
  .main.main--thanks
    %h2 Thanks for Voting!
    %p You can #{link_to 'vote again', root_url} for a different hero, or rally some support for your hero-of-choice by telling friends to vote. Six Ruby Hero Award winners will be announced at #{link_to 'RailsConf', 'http://railsconf.com'} in Atlanta, Georgia in April.
    .main-share
      = link_to "Tweet", "https://twitter.com/share", class: "twitter-share-button", :'data-url' => "http://rubyheroes.com", :'data-text' => "The Ruby Heroes among us deserve recognition from the community. I cast my vote at", :'data-size' => "small"
      :javascript
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

      #fb-root
        :javascript
          (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=143753272357200";
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));

      .fb-like{ :"data-href" => "http://rubyheroes.com", :"data-send" => "false", :"data-layout" => "button_count", :"data-width" => "50", :"data-show-faces" => "false", :"data-action" => "like", :"data-font" => "lucida grande" }

  %footer
    = image_tag 'img-mask.svg', class: 'footer-mask', alt: 'Mask', :"aria-hidden" => 'true'

    .sponsor.grid
      .grid-box.one-whole.desk-one-half
        %p Ruby Heroes is sponsored by <a href="http://codeschool.com">Code School</a>, which teaches web technologies in the comfort of your browser with video lessons, coding challenges, and screencasts. Try it out now with a free level of <a href="http://codeschool.com/courses/ruby-bits">Ruby&nbsp;Bits</a>.
      .grid-box.one-whole.desk-one-half
        = link_to image_tag('logo-codeschool.svg', alt: 'Code School'), 'http://codeschool.com', class: 'sponsor-logo'

    %ul.footer-credits
      %li
        %h4 Development
        = link_to 'Code School', 'https://www.codeschool.com'
      %li
        %h4 Hosting
        = link_to 'Heroku', 'https://www.heroku.com/'
