- content_for :subheader, "Nominate a Ruby Hero!"
#successbox
  %h3
    Thanks for your nomination.
  %p
    Winners will be announced at
    = link_to("Railsconf", "http://en.oreilly.com/rails2009/") + "."
  %p
    You can
    = link_to("nominate someone else", "/")
#spreadmini
  %h3
    Spread the word
  %p
    Pay it forward and  
    = link_to("talk about us on Twitter", "http://twitter.com/home?status=Currently%20reading%20http://rubyheroes.heroku.com/%20title=") + " or post a blog badge to your website to encourage others to show their gratitude."
    = image_tag "/images/banner_small.png", :alt => "Ruby Heroes"
    HTML Code: (click to copy and paste)
    :plain
      <textarea rows="3" name="none" onclick="this.select();"><a href="http://www.rubyheroes.com" title="Ruby Hero Awards"><img alt="Ruby Hero Awards" src="http://#{request.host}/images/banner_small.png" /></a></textarea>
%section#sponsormini
  :markdown  
    ### Sponsor ###
    ![O'Reilly](/images/oreilly.png)
    The Ruby Hero Awards are graciously sponsored this year by [O'Reilly](http://www.oreilly.com/ "O'Reilly"). O'Reilly spreads the knowledge of innovators through technology books, online services, and tech conferences (including Railsconf). [Railsconf](http://en.oreilly.com/rails2010 "Railsconf 2010") is taking place this year June 7-10 in Baltimore, Maryland, where the winners of the Ruby Hero Awards will be announced live on stage. [Registrations are now open](http://en.oreilly.com/rails2010 "Railsconf 2010") if you'd like to attend.
  %script