- form_for @hero do |f|
  = f.error_messages
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :avatar
    %br
    = f.text_field :avatar
  %p
    = f.label :year
    %br
    = f.text_field :year
  %p
    = f.submit "Submit"
