%li
  %dl
    %dt
      = link_to image_tag( "heroes/#{hero.avatar}", alt: hero.name, size: "100x100"), hero.url
      %dd
        %strong= link_to hero.name, hero.url
        %span= "#{hero.year} Hero"