- content_for :subheader, "Add a category"
.model-summary
  = link_to_list categories_path
.model-details.box
  %h1 New category
  = error_messages_for :category
  - form_for(@category) do |form|
    = render :partial => "categories/shared/form", :object => form
    .buttons.wrapper
      = button_to_save "Save Category"
      = link_to_cancel categories_path
