- content_for :subheader, "Votes"
.model-summary
  = link_to_add "Vote for a nomination", new_vote_path
.model-details.box
  %table
    %tr
      %th Category
      %th User
      %th Nominee
    - @votes.each do |vote|
      %tr
        %td
          = vote.category.name
        %td
          = vote.user.name
        %td
          = vote.nomination.nominee
        %td
          = link_to_delete vote, "Delete", :confirm => "Delete vote for '#{vote.nomination.nominee}' by '#{vote.user.name}'?"