- title "Sites"

%table
  %tr
    %th Url
    %th Name
  - for site in @sites
    %tr
      %td= h site.url
      %td= h site.name
      %td= link_to 'Show', site
      %td= link_to 'Edit', edit_site_path(site)
      %td= link_to 'Destroy', site, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Site", new_site_path
