!!!
%html{ html_attrs }
  %head
    %meta{ "http-equiv" => "content-type", :content => "text/html;charset=UTF-8" }
    %title Ruby Hero Awards
    = stylesheet_link_tag 'application'
  %body{ :class => "#{controller.controller_name} #{controller.controller_name}-#{controller.action_name}" }
    #header
      %h1
        = link_to "Ruby Hero<span>Awards</span>", "/"
    #subheader
      = yield :subheader
    = render :partial => "shared/messages"
    #content
      = yield
    #footer
      = link_to image_tag("webbynode.png", :align => "right"), 'http://www.webbynode.com'
      Ruby Heroes is produced by 
      = link_to("Rails Envy", "http://www.RailsEnvy.com") + ","
      and hosted graciously at 
      = link_to "Webbynode", "http://www.webbynode.com."