!!! 5
%html{ html_attrs }
  %head
    %meta{ "http-equiv" => "content-type", :content => "text/html;charset=UTF-8" }
    %title Ruby Hero Awards
    /= stylesheet_link_tag 'http://clevercode.net/dev/rh/assets/css/default.css'
    = stylesheet_link_tag "default"
    = stylesheet_link_tag "mobile", :media=>"screen and (max-device-width: 700px)"
    %meta(name="viewport" id="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")
    %link(rel="apple-touch-icon" href="/images/homescreen.png")
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js'
    = javascript_include_tag 'application'
    /[if IE]
      = javascript_include_tag 'http://html5shiv.googlecode.com/svn/trunk/html5.js'
    /[if lt IE 8]
      = javascript_include_tag 'http://ie7-js.googlecode.com/svn/version/2.0(beta3)/IE8.js'
  %body{ :class => "#{controller.controller_name} #{controller.controller_name}-#{controller.action_name}" }
    %header
      %h1
        = link_to "Ruby Hero", "/"
    %section#wrapper
      = yield
    %footer
      Ruby Heroes is produced by 
      = link_to("Rails Envy", "http://www.RailsEnvy.com") + ","
      designed by
      = link_to("cleverCode", "http://clevercode.net") + ","
      and graciously hosted at 
      = link_to("Heroku", "http://www.heroku.com.")