%fieldset
  %table
    %tr
      %td
        %label{ :for => :site_url } What is the url?
      %td
        = form.text_field :site_url
      %td
    %tr
      %td
        %label{ :for => :nomination_nominee } Who is the nominee?
      %td
        = form.text_field :nominee
      %td
        %em This can be an individual or group.
    %tr
      %td
        %label{ :for => :site_name } What is the title of the site?
      %td
        = form.text_field :site_name
      %td
    %tr
      %td
        %label{ :for => :nomination_nominator_name } What is your name?
      %td
        = form.text_field :nominator_name
      %td
    %tr
      %td
        %label{ :for => :nomination_nominator_email } What is your email address?
      %td
        = form.text_field :nominator_email
      %td
        %em We'll never sell.
    %tr
      %td
        %label{ :for => :nomination_testimonial } Testify!
      %td
        = form.text_area :testimonial, :rows => 5
      %td
        %em Use at least 25 characters to tell us why your nominee is a Ruby Hero.